testproject1/src/main/mule/testproject1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e9b1c1b9-f183-4b4e-938b-3e32d0254aa5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testproject1Flow" doc:id="22905091-4d8a-4117-a4b7-c5477fe8c8a5" >
		<http:listener doc:name="Listener" doc:id="85e791fc-8632-431d-afbd-bebef1d894a5" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="51d946a3-8f27-42d5-8b0b-aa1fc4317499" message='#["Testing new app1"]'/>
		<logger level="INFO" doc:name="Logger" doc:id="9f492685-514a-43b7-80ce-96df7c786db7" message='#["Testing new app2"]'/>
	</flow>
</mule>
